name: Build the code/project assets packages to be deployed.

on:
  push:
    branches:
      - 'alpine'
      - 'debian'
      - 'python'

env:
  REGISTRY_NAME: gcr.io
  PROJECT_ID: ${{ secrets.CONTAINERS_PROJECT_ID }}
  TOKEN: ${{ secrets.GCR_TOKEN }}
  IMAGE_NAME: base
  GIT_REF: ${{ github.ref }}
  GIT_SHA: ${{ github.sha }}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out project source code.
        uses: actions/checkout@main
      - name: Setup and configure the Google Cloud SDK.
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: $PROJECT_ID
          service_account_key: $KEY
          export_default_credentials: true
      - name: Run the GCP Docker authenticator.
        run: |
          gcloud auth configure-docker
      - name: Build the image to deploy to the GCR.
        run: |
          export TAG=`echo $GIT_REF | awk -F/ '{print $NF}'`
          docker build -t "$REGISTRY_NAME"/tdsp-1/"$IMAGE_NAME":"$TAG" "$TAG"/.
      - name: Deploy the built image to Google Cloud Registry.
        run: |
          export TAG=`echo $GIT_REF | awk -F/ '{print $NF}'`
          docker push "$REGISTRY_NAME"/tdsp-1/"$IMAGE_NAME":"$TAG"