name: Test runs for Actions.

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code.
        uses: actions/checkout@main
      - name: Run a quick test that we succeeded.
        run: |
          "echo This is a test message for the build test job."