name: Build CI

on:
  push:
    ignore-branches:
      - 'main'
      - 'develop'

env:
  REPOSITORY_NAME: ${{ github.repository }}
  NO_CACHE: true
  DOCKERFILE: Dockerfile

jobs:
  build:
    name: Run Build Job
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.build.outputs.name }}
    steps:
      - name: Code Checkout
        uses: actions/checkout@main
      - name: Build Containers
        id: build
        run: |
          bash ./build.sh
      - name: Run a quick test that we succeeded.
        run: |
          echo "This is a test message for the build test job."

  test_build:
    name: Run Build Output Test
    runs-on: ubunt-latest
    needs: build
    steps:
      - name: Output previous job text.
        run: |
          echo ${{ needs.build.outputs.name }}
